<%= form_with model: task, local: true do |f| %>
  <% if task.errors.any? %>
  <ul>
    <% task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
  <div>
    <%= f.label :name, t("task.name"), class:"form-label form_title"  %>
    <%= f.text_field :name, id: "task_name", class: "form-control" %>
  </div>
  <div>
    <%= f.label :description, t("task.description"), class:"form-label form_title"  %>
    <%= f.text_area :description, id: "task_description", class: "form-control", row: "4" %>
  </div>
  <div>
    <%= f.label :start_at, t("task.start_at"), class:"form-label form_title"  %>
    <%= f.datetime_field :start_at, id: "task_start", class: "form-control" %>
  </div>
  <div>
    <%= f.label :end_at, t("task.end_at"), class:"form-label form_title"  %>
    <%= f.datetime_field :end_at, id: "task_end", class: "form-control" %>
  </div>
  <div>
    <%= f.label :status, t("task.status"), class:"form-label form_title"  %>
    <%= f.select :status, Task.statuses.keys, {:include_blank => true}, id: "task_status", class: "form-control" %>
  </div>
  <div>
    <%= f.label :priority, t("task.priority"), class:"form-label form_title"  %>
    <%= f.select :priority, Task.priorities.keys, {:include_blank => true}, id: "task_priority", class: "form-control" %>
  </div>
  <div>
    <%= f.submit t("button.submit"), class: "btn btn-secondary" %>
  </div>
<% end %>