<h1><%= @task.name %></h1>
<div>
  <%= @task.description %>
</div>
<div>
  <%= @task.start_at %>
</div>
<div>
  <%= @task.end_at %>
</div>
<div>
  <%= @task.status %>
</div>
<div>
  <%= @task.priority %>
</div>